.bannerOne{
  position: relative;
}

.banner {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  scroll-behavior: smooth;
  width: 100%;
  position: relative;
}

.banner::-webkit-scrollbar {
  display: none;
}

.bannerImg{
  flex: none; 
  width: calc(100% / 1);
  position: relative;
}

.bannerImg img{
  display: block;
  width: 100%;
  height: auto;
}

.buttonsBanner{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.buttonsBanner button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 20px 10px;
  background-color: #105caa;
}

.buttonIconBanner{
  display: block;
  color: white;
  font-size: 1rem;
}

@media (max-width: 768px) {

  .bannerImg{
    flex: none; 
    width: calc(100% / 1);
    height: 100%;
    position: relative;
  }
}

@media (max-width: 400px){


.buttonsBanner{
  display: none;
}

}