.displayFlex{
  display: flex;
  flex-direction: column;
  height: 30vh;
  gap: 10px;
}

.CardDeitado {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  scroll-behavior: smooth;
  width: 100%;
}

.CardDeitado::-webkit-scrollbar {
  display: none;
}

.CardDeitado-flex {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  width: calc(100% / 3 - 10px);
  margin-right: 10px;
  flex: none; 
  transition: transform 0.3s ease;
}

.CardDeitado-flex:hover{
  transition: transform 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.CardDeitado-image {
  width: 100%;
  height: 100%;
}

.CardDeitado-image img {
  width: 100%;
  padding: 10px;
  display: block;
  object-fit: cover;
  height: 100%;
}

.CardDeitado-Info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

.CardDeitado-Info p{
  font-size: 0.7rem;
  color: #999999;
}

.CardDeitado-Info h3{
  font-size: 0.9rem;
  font-weight: 400;
  height: 4vh;
  line-height: 15pt;
  margin: 2px 0;
}

.CardDeitado-Info span{
  color: #f0cb20;
}

.categoriasProdutos, .buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.category a{
  color: #666;
  text-decoration: none;
  background-color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.category a:hover{
  color: white;
  background-color: #105caa;
  transition: all 0.5s ease-in-out;
}

.botoes{
  display: flex;
  justify-content: space-between;
}

.buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  background-color: #105caa;
  margin-left: 10px;
}

.buttonBackNext{
  display: block;
  color: white;
  font-size: 1rem;
}

.CardDeitado-valor{
  display: flex;
}

.CardDeitado-valor h4{
  display: block;
  color: #666666;
  margin-top: 2px;
}

.CardDeitado-valor a{
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 50%;
  text-align: center;
  padding: 5px 15px;
  color: white;
  background-color: #ea1044;
  font-size: 1.2rem;
  transition: bottom 0.3s ease-in-out;
  z-index: 999;
}

.CardDeitado-flex:hover .CardDeitado-valor a {
  bottom: 5px;
  transition: bottom 0.3s ease-in-out;
}

.CardDeitado-flex:not(:hover) .CardDeitado-valor a{
  bottom: -50px; 
}

.banner img{
  width: 100%;
}

@media (max-width: 768px){

  .CardDeitado-flex {
    width: calc(100% / 2 - 10px);
    margin-right: 10px;
  }
}

@media (max-width: 400px){

  .CardDeitado-flex {
    display: flex;
    width: calc(90% / 1 - 10px);
    margin-right: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .displayFlex{
    height: 100vh;
  }

  .CardDeitado-valor a{
    display: none;
  }

  .buttons{
    display: none;
  }
}