#menuCategoria{
  background-color: #ea1044;
  width: 300px;
  height: 100%; 
  display: flex;
  flex-direction: column;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
}

.iconCategoria{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-0%, -50%);
  padding: 0 10px;
}

.buttonIcon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.buttonIcon h3{
  color: white;
}

.iconMenu{
  color: white;
  font-size: 30px;
}

.false{
  display: none;
}

.menuMobile{
  display: none;
}

.menuDesktop{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  width: 250px;
  left: 0;
  top: 100%;
  z-index: 999;
  overflow: hidden; 
  transition: all 0.5s ease-in-out;
}

.menuMob ul{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, 1fr);
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  border: 1px solid #e2e2e2;
}

.menuMob ul li{
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
}

.menuMob ul li:last-child {
  border-bottom: 0;
}

.menuMob ul li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: gray;
  height: 100%;
  width: 250px;
  font-size: 14px;
  padding: 10px;
}

.fechar,
.menuDesk,
.socialsMenu,
.menuMob2{
  display: none;
}
 


.menuDesk summary::-webkit-details-marker,
.menuMob summary::-webkit-details-marker {
  display: none;
}

.menuDesk summary,
.menuMob summary {
  list-style-type: none;
  display: none;
}


summary{
  text-align: start;
}


@media only screen and (max-width: 768px){
  
  
}

@media only screen and (max-width: 400px){

  .menuDesktop{
    display: none;
  }

  #menuCategoria{
    background-color: transparent;
    width: 80px;
  }

  .menuMob{
    display: none;
  }

  .iconMenu{
    font-size: 40px;
    height: 100%;
  }

  .menuMobile {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    width: 70%;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 888;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .menuMob2{
    display: block;
  }

  .menuMob2 ul{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-decoration: none;
    height: 60vh;
    border-top: 0;
    list-style: none;
  }
  
  .menuMob2 ul li{
    width: 100%;
    border-top: 1px solid #e2e2e2;
    padding: 10px 0;
  }
  
  .menuMob2 ul li:first-child {
    border-top: 0;
  }
  
  .menuMob2 ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
    height: 100%;
    width: 250px;
    font-size: 14px;
    padding: 0 10px;
  }

  .buttonIcon h3{
   display: none;
  }

  .iconCategoria{
    position: absolute;
    display: flex;
    top: 50%;
    left: 0;
    height: 100%;
    padding: 0;
  }

  .fechar{
    display: block;
    text-align: end;
    padding: 10px 10px 0 0;
  }

  .closeInterno{
    font-size: 30px;
  }

  .menuDesk{
    display: block;
  }

  .menuDesk summary,
  .menuMob2 summary{
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 10px;
    padding: 10px;
    list-style-type: none;
  }

  .original{
    color: red;
  }

  .titleMenu,
  .titleCategoria{
    color: black;
  }

  h2{
    font-size: 16px;
  }

  .towMenu{
    overflow-y: scroll;
    height: 30vh; 
    width: 100%;
    height: 100%;
  }

  .menuDeskUl ul{
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr;
  }

  .menuDeskUl ul li{
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
  }

  .linkMenuMobile{
    height: 100%;
    font-size: 14px;
    padding: 0 10px;
    text-decoration: none;
    color: gray;
  }

  .socialsMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    width: 100%;
    padding: 10px;
    gap: 15px;
  }

  .iconSocials {
    display: block;
    color: red;
    font-size: 25px;
  }

}