.categoria{
  background-color: #ea1044;
  width: 220px;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#meusDetalhes summary::-webkit-#meusDetalhes-marker {
  display: none;
}

.summaryDesk{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  padding: 0 10px;
  color: white;
  list-style-type: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.menu{
  font-size: 1.5rem;
  color: white;
}

#meusDetalhes ul, #meusDetalhesMobile ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 100%;
  width: 200px;
  padding: 20px 15px;
  display: flex;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position: absolute;
  list-style: none;
  z-index: 9999;
}

#meusDetalhes ul li{
  border-bottom: 1px solid gray;
  width: 100%;
  transition: 0.3s;
}

#meusDetalhes ul li:hover{
  background-color: antiquewhite;
}

#meusDetalhes a{
  text-decoration: none;
  color: gray;
}

#meusDetalhesMobile{
  display: none;
}

@media (max-width: 400px){

  #meusDetalhes{
    display: none;
  }

  .menuMobile{
    display: flex;
    color: white;
    font-size: 1.4rem;
  }

  #meusDetalhesMobile{
    display: block;
  }
  
  .summaryMobile::-webkit-details-marker{
    display: none;
  }

  .summaryMobile{
    user-select: none;
    -webkit-user-select: none;
    list-style: none;
  }

  .categoria{
    background-color: transparent;
    width: 80px;
  }

  #meusDetalhesMobile ul{
    height: 80vh;
  }
}