.box{
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  gap: 20px;
}

.box img{
  display: block;
  width: 100%;
}

.carousel {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  scroll-behavior: smooth;
  width: 100%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.flexCardBox {
  margin: 2px 0;
  position: relative;
  background-color: white;
  padding: 20px;
  width: calc(100% / 6 - 10px);
  margin-right: 10px;
  flex: none; 
  transition: transform 0.3s ease;
}

.flexCardBox:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: transform 0.3s ease;
}

.image{
  width: 100%;
}

.image img {
  width: 100%;
  padding: 20px;
  object-fit: cover;
}

.flexCardBoxInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flexCardBoxInfo p{
  font-size: 0.7rem;
  color: #999999;
}

.flexCardBoxInfo h3{
  font-size: 0.9rem;
  font-weight: lighter;
  height: 4vh;
}

.flexCardBoxInfo span{
  color: #f0cb20;
}

.produtos{
  margin: 20px 0;
}

.produtos h1{
  color: #105caa;
  margin-bottom: 20px;
}

.categoriasProdutos, .buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.category a{
  color: #666;
  text-decoration: none;
  background-color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.category a:hover{
  color: white;
  background-color: #105caa;
  transition: all 0.5s ease-in-out;
}

.buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  background-color: #105caa;
  margin-left: 10px;
}

.buttonBackNext{
  display: block;
  color: white;
  font-size: 1rem;
}

.valorCar{
  display: flex;
  align-items: center;
  width: 100%;
}

.valorCar h4{
  display: block;
  color: #666666;
}

.addCar{
  display: flex;
  left: 50%;
  position: relative;
  transform: translate(-50%);

}

.valorCar a{
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translatex(-50%);
  padding: 5px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #ea1044;
  font-size: 1.2rem;
  transition: bottom 0.3s ease-in-out;
}

.flexCardBox:hover .valorCar a {
  bottom: 16px;
  transition: bottom 0.3s ease-in-out;
}

.banner img{
  width: 100%;
}

@media (max-width: 768px){

  .flexCardBox {
    width: calc(100% / 4 - 10px);
    margin-right: 10px;
  }

  .category a{
    display: none;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
}

@media (max-width: 400px){

  .flexCardBox {
    width: calc(90% / 2 - 10px);
    margin-right: 10px;
    height: 35vh; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .category{
    display: none;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 30px 0;
  }

  .box div{
    height: 15vh;
  }

  .box img{
    display: flex;
    width: 100%;
    height: 100%;
  }
  

  .category a{
    display: none;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .carousel {
    height: 50vh;
  }

  .valorCar a{
    display: none;
  }
}


