.box{
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.box img{
  width: 100%;
}

.carousel {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  scroll-behavior: smooth;
  width: 100%;
  gap: 10px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.flexCardBox {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 205px;
  flex: none; 
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
  transform-origin: center center;
  -moz-transform-origin: center center;
  -webkit-transform-origin: center center;
}

.flexCardBox:last-child{
  margin-right: 5px;
}

.flexCardBox:first-child{
  margin-left: 5px;
}

.flexCardBox:hover{
  z-index: 999;
  -moz-transform: scale(1.1); 
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.flexCardBox .image img {
  width: 100%;
  padding: 20px;
  object-fit: cover;
}

.flexCardBoxInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flexCardBoxInfo p{
  font-size: 0.7rem;
  color: #999999;
}

.flexCardBoxInfo h3{
  font-size: 0.9rem;
  font-weight: lighter;
}

.flexCardBoxInfo span{
  color: #f0cb20;
}

.produtos{
  margin: 20px 0;
}

.produtos h1{
  color: #105caa;
  margin-bottom: 20px;
}

.categoriasProdutos, .buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.category a{
  color: #666;
  text-decoration: none;
  background-color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.category a:hover{
  color: white;
  background-color: #105caa;
  transition: all 0.5s ease-in-out;
}

.buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  background-color: #105caa;
  margin-left: 10px;
}

.buttonBackNext{
  display: block;
  color: white;
  font-size: 1rem;
}

.valorCar{
  display: flex;
  width: 100%;
}

.valorCar h4{
  display: block;
  color: #666666;
}

.valorCar a{
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 5px 15px;
  color: white;
  background-color: #ea1044;
  font-size: 1.2rem;
  transition: bottom 0.3s ease-in-out;
}

.flexCardBox:hover .valorCar a {
  bottom: 20px;
  transition: bottom 0.3s ease-in-out;
}

.flexCardBox:not(:hover) .valorCar a{
  bottom: -50px; 
}

.banner img{
  width: 100%;
}

@media (max-width: 500px){

  .flexCardBox {
    width: 50%;
  }
}