.footerOne{
  background-color: #023f7c;
}

.footerTwo{
  background-color: #105caa;
}

.footerOneFlex {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.footerOneFlex ul{
  list-style: none;
}

.footerOneFlex h5{
  color: white;
  font-size: 17px;
}

.footerOneFlex ul li{
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
}

.footerTwoFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footerTwoFlex ul{
  display: flex;
  align-items: center;
  gap: 20px;
}

.footerTwoFlex p{
  color: white;
  font-size: 14px;
}

.line{
  width: 40px;
  height: 2px;
  background-color: #105caa;
  margin: 10px 0;
}

.contact ul {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact p{
  color: white;
  font-size: 14px;
}

.iconContact{
  display: block;
  color: white;
}

.contato{
  width: 400px;
}

.newsletter{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 50px;
}

.newsletterFlex{
  width: 400px;
}

.newsletter h2{
  color: white;
}

.newsletter p{
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}

.newsletter div ul{
  position: relative;
  display: flex;
  align-items: center;
}

.newsletter input{
  width: 100%;
  padding: 13px;
  border-radius: 3px;
  border: 0;
  color: white;
  background-color: #105caa;
  position: relative;
}

.newsletter input:focus{
  outline: none;
  box-shadow: none;
  color: white;
}

.newsletter div ul a{
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  background-color: #ea1044;
  height: 100%;
  padding: 0 20px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.seta{
  color: white;
}

.newsletter ul{
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 20px;
}

.socialsCash{
  display: block;
  color: white;
  font-size: 20px;
}

.linhaFooter{
  margin: 30px 0;
  width: 100%;
  height: 2px;
  background-color: #105caa;
}

