.headerOne{
  background-color: #023f7c;
}

.header{
  background-color: #105caa;
  
}

.meuHeaderOne{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.meuHeaderOne ul{
  display: flex;
  gap: 40px;
  list-style: none;
}

.meuHeaderOne{
  color: white;
}

.carUserLogin{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #04305c;
  padding: 2%;
  width: 10%;
}

.carUser {
  margin: 0 10px;
  font-size: 25px;
  color: white;
}

.meuHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

.header-link{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.input{
  width: 100%;
  display: flex;
  position: relative;
  align-items: end;
}

.input input{
  width: 100%;
  border: 0;
  border-radius: 15px;
  padding: 5px 20px;
  background-color: #023f7c;
  color: white;
}

.input input:focus{
  outline: none;
  box-shadow: none;
  color: white;
}

.search{
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  color: white;
}

.socials{
  width: 10%;
  display: flex;
  gap: 12px;
  background-color: #196cbe;
  padding: 13px 10px;
}

.socials a{
  display: flex;
  color: white;
  font-size: 1.2rem;
}

@media (max-width: 500px){

  .meuHeader{
    display: none;
    
  }
}