.headerOne{
  background-color: #105caa;
}

.header{
  background-color: #023f7c;
}

.meuHeaderOne{
  display: flex;
  align-items: center;
  position: relative;
  height: 10vh;
  gap: 50px;
}

.meuHeaderOne ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
  width: 100%;
}

.meuHeaderOne{
  color: white;
}

.meuHeaderOne h2{
  color: white;
  width: 220px;
}

.carUserLogin{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #0f5091;
  width: 220px;
  height: 100%;
}

.carUser {
  margin: 0 10px;
  font-size: 20px;
  color: white;
}

.meuHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  gap: 50px;
  width: 100%;
}

.header-link{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.input{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input input{
  width: 100%;
  border: 0;
  border-radius: 3px;
  padding: 10px 20px;
  background-color: #105caa;
  color: white;
}

.input input:focus{
  outline: none;
  box-shadow: none;
  color: white;
}

.input a{
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  background-color: #ea1044;
  height: 100%;
  padding: 0 15px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.search{
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  gap: 20px;
  background-color: #03376b;
  height: 100%;
}

.socials a{
  display: flex;
  color: white;
  font-size: 1.2rem;
}

@media (max-width: 800px){

  .meuHeaderOne{
 
    height: 8vh;
    gap: 50px;
  }

  .meuHeader{
    height: 4vh;
    
  }
}

@media (max-width: 500px){

  .meuHeader{
    display: none;
    
  }
}