@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: #F1F3F8;
  font-size: 1rem;
}

.container{
  max-width: 1290px;
  margin: 0 auto;
}

@-moz-document url-prefix() {
  .container {
      -moz-max-width: 1290px;
  }
}