@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3498db;
  }

  ::-webkit-scrollbar-track {
    background-color: #d8d5d5;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #2980b9;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}




body{
  background-color: #F1F3F8;
  font-size: 1rem;
}

.container{
  max-width: 1290px;
  margin: 0 auto;
}

.containertwo{
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 1%;
}

.containerMobile{
  max-width: 500px;
}

@-moz-document url-prefix() {
  
  .container {
      -moz-max-width: 1290px;
  }
}