@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #F1F3F8;
  font-size: 1rem;
}

.container{
  max-width: 1290px;
  margin: 0 auto;
}
